/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_i2s.h>

// Reference: https://docs.m5stack.com/en/core/CoreS3
/ {
	compatible = "root";
	model = "M5Stack CoreS3";

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c_internal {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <12>;
		pin-scl = <11>;
		pin-sda-pullup;
		pin-scl-pullup;
	};

	i2c_port_a {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_1>;
		clock-frequency = <400000>;
		pin-sda = <2>;
		pin-scl = <1>;
		pin-sda-pullup;
		pin-scl-pullup;
	};

	i2c_port_b {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_1>;
		clock-frequency = <400000>;
		pin-sda = <9>;
		pin-scl = <8>;
		pin-sda-pullup;
		pin-scl-pullup;
	};

	i2c_port_c {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_1>;
		clock-frequency = <400000>;
		pin-sda = <18>;
		pin-scl = <17>;
		sda-pullup;
		scl-pullup;
	};

	// TODO: Enable speaker via I2C: https://github.com/m5stack/M5Unified/blob/a6256725481f1bc366655fa48cf03b6095e30ad1/src/M5Unified.cpp#L417
	// TODO: Enable microphone via I2C: https://github.com/m5stack/M5Unified/blob/a6256725481f1bc366655fa48cf03b6095e30ad1/src/M5Unified.cpp#L616
	i2s0 {
		// Note: M5Unified sets the following for speaker: magnification = 2, oversampling = 1
		// Note: M5Unified sets the following for microphone: magnification = 4
		compatible = "espressif,esp32-i2s";
		port = <I2S_NUM_0>;
		pin-bclk = <34>;
		pin-ws = <33>;
		pin-data-out = <13>;
		pin-data-in = <14>;
		pin-mclk = <0>;
	};
};
