/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_i2s.h>

// Reference: https://docs.m5stack.com/en/core/Core2
/ {
	compatible = "root";
	model = "M5Stack Core2";

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <40>;
	};

	i2c_internal {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <21>;
		pin-scl = <22>;
		pin-sda-pullup;
		pin-scl-pullup;
	};

	i2c_port_a {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_1>;
		clock-frequency = <400000>;
		pin-sda = <32>;
		pin-scl = <33>;
		pin-sda-pullup;
		pin-scl-pullup;
	};

	// NS4168: Speaker and microphone
	// TODO: Init microphone via I2C: https://github.com/m5stack/M5Unified/blob/a6256725481f1bc366655fa48cf03b6095e30ad1/src/M5Unified.cpp#L391C19-L391C44
	i2s0 {
		compatible = "espressif,esp32-i2s";
		port = <I2S_NUM_0>;
		pin-bclk = <12>;
		pin-ws = <0>;
		pin-data-out = <2>;
		pin-data-in = <34>;
		pin-mclk = <GPIO_PIN_NONE>;
	};
};
