/dts-v1/;

#include <tactility/bindings/root.h>
#include <tactility/bindings/esp32_gpio.h>
#include <tactility/bindings/esp32_i2c.h>
#include <tactility/bindings/esp32_i2s.h>

// Reference: https://docs.m5stack.com/en/core/Cardputer-Adv
/ {
	compatible = "root";
	model = "M5Stack Cardputer Adv";

	gpio0 {
		compatible = "espressif,esp32-gpio";
		gpio-count = <49>;
	};

	i2c_internal {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_0>;
		clock-frequency = <400000>;
		pin-sda = <8>;
		pin-scl = <9>;
		pin-sda-pullup;
		pin-scl-pullup;
	};

	i2c_port_a {
		compatible = "espressif,esp32-i2c";
		port = <I2C_NUM_1>;
		clock-frequency = <400000>;
		pin-sda = <2>;
		pin-scl = <1>;
		pin-sda-pullup;
		pin-scl-pullup;
	};

	// Speaker and microphone (ES8311)
	i2s0 {
		compatible = "espressif,esp32-i2s";
		port = <I2S_NUM_0>;
		pin-bclk = <41>;
		pin-ws = <43>;
		pin-data-out = <42>;
		pin-data-in = <46>;
		pin-mclk = <GPIO_PIN_NONE>;
	};
};
