# Kconfig file for Tactility example app
menu "Tactility App"
    config TT_DEVICE_NAME
        string "Device Name"
        default ""
    config TT_DEVICE_ID
        string "Device Identifier"
        default ""
    config TT_SPLASH_DURATION
        int "Splash Duration (ms)"
        default 1000
        range 0 3000
        help
            The minimum time to show the splash screen in milliseconds.
            When set to 0, startup will continue to desktop as soon as boot operations are finished.
endmenu
